body {
  background-color: #819ca9;
}
.container {
  display: flex;
  justify-content: space-between;
}
.container div {
  height: 250px;
  width: 250px;
  background-color: #263238;
}
.container div a {
  color: white;
  background-color: #4f6875;
}
.container div:hover {
  background-color: #000000;
}
